<!--
<div class="header ia section">
  <div class="content">
    <h1><a href="/">blacktm</a> &rsaquo; blue button</h1>
  </div>
</div>
-->

<div class="header appyard section">
  <div class="content">
    <h1>Apps for Blue Button</h1>
  </div>
</div>

<div class="page section">
  <div class="content">
  
    <ul class="boxes">
      
      <li>
        <a href="/bluebutton/labs">
          <div style="background: url('<%= img_asset "labs_250px.png" %>');"></div>
        </a>
        <h1>Labs</h1>
        <p>Visualize your lab tests to better understand your results.</p>
        <p><i>Mashed-up data from <a href="http://www.heart.org/HEARTORG/Conditions/What-Do-My-Cholesterol-Levels-Mean_UCM_308826_Article.jsp" target="_blank">American Heart Association</a>.</i></p>
        <p><a href="/bluebutton/labs">Run the app &rsaquo;&rsaquo;</a></p>
      </li>
      
      <li>
        <a href="/bluebutton/medications">
          <div style="background: url('<%= img_asset "medications_250px.png" %>');"></div>
        </a>
        <h1>Medications</h1>
        <p>Transform your Blue Button data into a medication list with drug images, refill information, and links to price information.</p>
        <p><i>Mashed-up data from public sources (drug images) and <a href="http://www.goodrx.com" target="_blank">GoodRx</a> (pricing).</i></p>
        <p><a href="/bluebutton/medications">Run the app &rsaquo;&rsaquo;</a></p>
      </li>
            
      <li>
        <a href="/bluebutton/convert">
          <div style="background: url('<%= img_asset "convert_250px.png" %>');"></div>
        </a>
        <h1>Convert</h1>
        <p>Convert the plain text ASCII Blue Button file to machine readable JSON.</p>
        <p><a href="/bluebutton/convert">Run the app &rsaquo;&rsaquo;</a></p>
      </li>
      
      <!--
      <li>
        <a href="javascript:;">
          <div style="background: url('<%= img_asset "coming_soon_250px.png" %>');"></div>
        </a>
        <h1>Continuity of Care Document</h1>
        <p>Convert your Blue Button data into a standard Continuity of Care Document (CCD).</p>
      </li>
      
      <li>
        <a href="/bluebutton/vitals">
          <div style="background: url('<%= img_asset "coming_soon_250px.png" %>');"></div>
        </a>
        <h1>Vitals</h1>
        <p>Analyze and visualize your vitals like blood pressure, heart rate, and body weight.</p>
        <p><a href="/bluebutton/vitals">Run the app &rsaquo;&rsaquo;</a></p>
      </li>
      -->
      
      <li></li>
      
      <li></li>
      
      <li></li>
      
    </ul>
    
  </div>
</div>
